$easing = cubic-bezier(.8, .0, .4, .8)
$speed = 1320ms
$linecap = square
$partitions = 5
$arc = 0.72
$perimeter = 44px * PI
$perimeter_small = 22px * PI

.loader
  display: block
  margin: 0 auto
  font-size: 0
  vertical-align: middle
  animation: outer $speed * $partitions linear infinite

  svg
    animation: inner $speed linear infinite

    circle
      fill: none
      stroke-linecap: $linecap
      animation: arc $speed $easing infinite

  @keyframes outer
    0%
      transform: rotate(0)

    100%
      transform: rotate(360deg)

  @keyframes inner
    0%
      transform: rotate(-360deg * (1 - $arc))

    100%
      transform: rotate(0)

  @keyframes arc
    0%
      stroke-dasharray: 1 $perimeter
      stroke-dashoffset: 0

    40%
      stroke-dasharray: $arc * $perimeter, $perimeter
      stroke-dashoffset: 0

    100%
      stroke-dasharray: 1 $perimeter
      stroke-dashoffset: -($arc * $perimeter)

.loader_small
  svg
    circle
      animation: arc_small $speed $easing infinite

  @keyframes arc_small
    0%
      stroke-dasharray: 1 $perimeter_small
      stroke-dashoffset: 0

    40%
      stroke-dasharray: $arc * $perimeter_small, $perimeter_small
      stroke-dashoffset: 0

    100%
      stroke-dasharray: 1 $perimeter_small
      stroke-dashoffset: -($arc * $perimeter_small)
