.products
  display: flex
  height: 100%
  width: 100%
  max-width: 1000px
  margin: 0 auto

.products__list
  flex-basis: 62%
  flex-wrap:nowrap
  width: 62%
  min-height: 100%
  box-sizing:border-box

.products__filters
  flex-basis: 38%
  width: 38%
  padding: 0 20px
  box-sizing: border-box
