.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: none
  padding: 50px 0
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  background: rgba(0, 0, 0, 0.6)
  box-sizing: border-box
  overflow: auto

  &_shown
    display: block

.modal__content
  position: relative
  width: 900px
  margin: 0 auto

.modal__close
  position: absolute
  top: -10px
  left: 100%
  width: 20px
  height: 20px
  margin: 0
  margin-left: 10px
  padding: 0
  font-size: 0
  line-height: 0
  background: 0
  border: 0
  cursor: pointer

  &::before
    content: ''
    top: 0
    left: 0
    width: 20px
    display: block
    transform: rotate(45deg)
    transform-origin: center
    border-bottom: solid 3px #fff

  &::after
    content: ''
    top: -5px
    left: 0
    display: block
    width: 20px
    transform: rotate(-45deg) translate(2px, -2px)
    transform-origin: center
    border-bottom: solid 3px #fff
